<div class="container">
    <div class="row">
        <div class="col-lg-4" style=" padding-left: 35px;"><h4>Đăng ký</h4></div>
        <div class="col-lg-4 align-self-cente col-sm-12">
            <div class="card-login card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img style="border-radius: 50%;" id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" method="post" action="/Accout/Signup">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input name="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <input style=" direction: ltr; height: 44px; font-size: 16px;" name="PhoneNumber" type="text" id="inputPhoneNumber" class="form-control" placeholder="Phone Number" required>
                    <div id="error-phone" class="text-danger"></div>
                    <input name="PasswordHash" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <input name="confirmPassword" type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng ký</button>
                </form><!-- /form -->
                <div >Bạn đã có tài khoản?<a style="margin-left: 5px" href="/Accout/Login" class="forgot-password">Đăng nhập</a></div>

            </div><!-- /card-container -->
            <div class="text-danger">@ViewBag.error</div>

        </div>
    </div>
</div><!-- /container -->
<script type="text/javascript">
    let checkPhoneNumber = document.getElementById("inputPhoneNumber");
    checkPhoneNumber.addEventListener("blur", () => {
        if (checkPhoneNumber.value.length != 10) {
            document.querySelector("#error-phone").textContent = "Số điện thoại phải gồm 10 chữ số"
        }
        else document.querySelector("#error-phone").textContent = ""
    })
</script>