
@{
    ViewBag.Title = "CheckOut";
}

<form class="needs-validation" name="frmthanhtoan" method="post"
      action="/Order/Add">
    <input type="hidden" name="kh_tendangnhap" value="dnpcuong">

    <div class="py-5 text-center">
        <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
        <h2>Thanh toán</h2>
        <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
    </div>

    <div class="row">
        <div class="col-md-1 order-md-1"></div>
        <div class="col-md-10 order-md-1">
            <h4 class="mb-3">Thông tin khách hàng</h4>

            <div class="row">
                <div class="col-md-12">
                    <label for="kh_ten">Họ tên</label>
                    <input required type="text" class="form-control" name="NguoiNhan" id="kh_ten"
                           placeholder="Họ và tên">
                </div>
                
                <div class="col-md-12">
                    <label for="kh_diachi">Địa chỉ</label>
                    <input required type="text" class="form-control" name="DiaChi" id="kh_diachi"
                           placeholder="Địa chỉ nhận hàng" >
                </div>
                <div class="col-md-12">
                    <label for="kh_dienthoai">Điện thoại</label>
                    <input required type="number" class="form-control" name="SDT" id="kh_dienthoai"
                           placeholder="Số điện thoại">
                </div>
                <div class="col-md-12">
                    <label for="kh_email">Email</label>
                    <input type="email" class="form-control" id="kh_email"
                           value=@Session["username"] readonly="">
                </div>
                <div class="col-md-12">
                    <label for="kh_cmnd">CCCD/CMND</label>
                    <input type="number" class="form-control" name="CCCD" id="kh_cmnd" placeholder="Số căn cước/Chứng minh thư nhân dân"
                          >
                </div>
            </div>

            <h4 class="mb-3">Hình thức thanh toán</h4>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input checked id="httt-1" name="HinhThucThanhToan" type="radio" class="custom-control-input" required=""
                           value="Tiền mặt">
                    <label class="custom-control-label" for="httt-1">Tiền mặt</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="httt-2" name="HinhThucThanhToan" type="radio" class="custom-control-input" required=""
                           value="Chuyển khoản">
                    <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
                </div>
                
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" name="btnDatHang">
                Xác nhận thanh toán
            </button>
        </div>
    </div>
</form>



