
@{
    ViewBag.Title = "ThankYou";
}

<h2 style="font-family:Tahoma">Cảm ơn bạn vì đã tin tưởng và lựa chọn sản phẩm tại cửa hàng chúng tôi. Chúng tôi thật may mắn khi có những khách hàng như bạn!</h2>
<center><a href="/Home" class="btn btn-1">Trở về trang chủ</a></center>
