<div id="sidebar" class="col-md-4">
    <div class="widget wid-categories">
        <div class="heading"><h4>CATEGORIES</h4></div>
        <div class="content">
            <ul>
                <li><a href="~/Public/#">PC Computers</a></li>
                <li><a href="~/Public/#">Laptops & Notebooks</a></li>
                <li><a href="~/Public/#">Mobiles & Tablet</a></li>
                <li><a href="~/Public/#">Software</a></li>
            </ul>
        </div>
    </div>
    <div class="widget wid-type">
        <div class="heading"><h4>TYPE</h4></div>
        <div class="content">
            <select>
                <option value="EL" selected>Electronics</option>
                <option value="MT">Mice and Trackballs</option>
                <option value="WC">Web Cameras</option>
                <option value="TA">Tablates</option>
                <option value="AP">Audio Parts</option>
            </select>
        </div>
    </div>
    <div class="widget wid-discouts">
        <div class="heading"><h4>DISCOUNTS</h4></div>
        <div class="content">
            <label class="checkbox"><input type="checkbox" name="discount" checked="">Upto - 10% (20)</label>
            <label class="checkbox"><input type="checkbox" name="discount">40% - 50% (5)</label>
            <label class="checkbox"><input type="checkbox" name="discount">30% - 20% (7)</label>
            <label class="checkbox"><input type="checkbox" name="discount">10% - 5% (2)</label>
            <label class="checkbox"><input type="checkbox" name="discount">Other(50)</label>
        </div>
    </div>
    <div class="widget wid-brand">
        <div class="heading"><h4>BRAND</h4></div>
        <div class="content">
            <label class="checkbox"><input type="checkbox" name="brand">Nokia</label>
            <label class="checkbox"><input type="checkbox" name="brand">Samsung</label>
            <label class="checkbox"><input type="checkbox" name="brand">Iphone</label>
            <label class="checkbox"><input type="checkbox" name="brand">HTC</label>
            <label class="checkbox"><input type="checkbox" name="brand">Oppo</label>
            <label class="checkbox"><input type="checkbox" name="brand">Kings</label>
            <label class="checkbox"><input type="checkbox" name="brand">Zumba</label>
        </div>
    </div>
    <div class="widget wid-product">
        <div class="heading"><h4>LATEST</h4></div>
        <div class="content">
            <div class="product">
                <a href="~/Public/#"><img src="~/Public/images/galaxy-s4.jpg"/></a>
                <div class="wrapper">
                    <h5><a href="~/Public/#">Samsung Galaxy Tab</a></h5>
                    <div class="price">$122</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
            <div class="product">
                <a href="~/Public/#"><img src="~/Public/images/galaxy-s4.jpg" /></a>
                <div class="wrapper">
                    <h5><a href="~/Public/#">Samsung Galaxy Tab</a></h5>
                    <div class="price">$122</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
            <div class="product">
                <a href="~/Public/#"><img src="~/Public/images/Z1.png" /></a>
                <div class="wrapper">
                    <h5><a href="~/Public/#">Samsung Galaxy Tab</a></h5>
                    <div class="price">$122</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
