<div id="sidebar" class="col-md-4">
    <div class="widget wid-categories">
        <div class="heading"><h4>Hãng sản phẩm</h4></div>
        <div class="content">
            @{Html.RenderAction("MenuProducer", "Partial");}
        </div>
    </div>
    <div class="widget wid-categories">
        <div class="heading"><h4>Loại sản phẩm</h4></div>
        <div class="content">
            @{Html.RenderAction("MenuProductType", "Partial");}
        </div>
        

    </div>
    <div class="widget wid-categories">
        <div class="heading"><h4>Sắp xếp theo giá</h4></div>
        <div class="content">
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index", "Products", new {sorted="price"})">Từ thấp đến cao</a></li>
                <li><a href="@Url.Action("Index", "Products", new {sorted="desPrice"})">Từ cao xuống thấp</a></li>
            </ul>
        </div>
    </div>
    <div class="widget wid-categories">
        <div class="heading"><h4>Sắp xếp theo tên</h4></div>
        <div class="content">
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index", "Products")">Sắp xếp từ a đến z</a></li>
                <li><a href="@Url.Action("Index", "Products", new {sorted="desName"})">Sắp xếp từ z về a</a></li>
            </ul>
        </div>
    </div>
    @*<div class="widget wid-product">
        <div class="heading"><h4>LATEST</h4></div>
        <div class="content">
            <div class="product">
                <a href="~/Public/#"><img src="~/Public/images/galaxy-s4.jpg"/></a>
                <div class="wrapper">
                    <h5><a href="~/Public/#">Samsung Galaxy Tab</a></h5>
                    <div class="price">$122</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
            <div class="product">
                <a href="~/Public/#"><img src="~/Public/images/galaxy-s4.jpg" /></a>
                <div class="wrapper">
                    <h5><a href="~/Public/#">Samsung Galaxy Tab</a></h5>
                    <div class="price">$122</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
            <div class="product">
                <a href="~/Public/#"><img src="~/Public/images/Z1.png" /></a>
                <div class="wrapper">
                    <h5><a href="~/Public/#">Samsung Galaxy Tab</a></h5>
                    <div class="price">$122</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>
            </div>
        </div>
    </div>*@
</div>
